<template>
  <div class="main">
    <section class="side-nav">
      <div class="user">
        <i class='fas fa-user-circle' style='font-size:48px'></i>
        <h2>{{ this.$store.state.user.name }}</h2>
      </div>
      <SideNav v-for="nav_item in nav_items" :key="nav_item.id" :nav_item="nav_item"/>
    </section>
    <section class="nav-info">
      <router-view />
    </section>
  </div>
</template>

<script>
import SideNav from "@/components/SideNav.vue";

export default {
  name: 'User',
  components: {
    SideNav
  },
  props: ['uname'],
  data() {
    return {
      admin_nav: this.$store.state.navList_items.admin,
      support_nav: this.$store.state.navList_items.support_person,
      customer_nav: this.$store.state.navList_items.customer,
      nav_items: []
    }
  },
  created() {
    if(this.$store.state.user.role === 'Super Admin' || this.$store.state.user.role === 'Support Admin') {
      this.nav_items = this.admin_nav
    }
    else if (this.$store.state.user.role === 'Support Person') {
      this.nav_items = this.support_nav
    }
    else {
      this.nav_items = this.customer_nav
    }
  }
};
</script>

<style scoped>
.main {
  width: 100vw;
  height: 100vh;
  background: #aea2b6;
  overflow: hidden;
}
.side-nav {
  width: 25vw;
  height: 100vh;
  background-color: #818ac8;
}
.nav-info {
  width: 75vw;
  height: 100vh;
}
.user {
  padding: 1rem .5rem;
  background: #7986cb;
}
</style>
