<template>
  <div class="message-reply">
    <h3>{{ reply.sender }}</h3>
    <p>{{ reply.message }}</p>
  </div>
</template>

<script>
export default {
  name: "Reply",
  props: {
    reply: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
</style>
