<template>
  <div class="ticket-info">
    <h1>Ticket Info</h1>
    <div class="ticket-header">
      <span>Ticket ID</span>
      <span>Name</span>
      <span>Ticket Type</span>
      <span>Subject</span>
      <span>Reply</span>
    </div>
    <div class="tickets" v-if="tickets">
      <Ticket v-for="ticket in tickets" :key="ticket.id" :ticket="ticket"/>
    </div>
  </div>
</template>

<script>
import ApiService from "@/services/ApiService.js";
import Ticket from "@/components/Ticket.vue";

export default {
  name: "TicketInfo",
  components: {
    Ticket
  },
  data(){
    return {
      tickets: null
    }
  },
  created() {
    let user_token = this.$store.state.user.token
    ApiService.getTicketInfo(user_token)
    .then(response => {
      this.tickets = response.data.tickets
    })
    .catch(error => {
      console.log(error)
    })
  }
};
</script>

<style scoped>
.ticket-header {
  width: 65vw;
  padding: 10px;
  font-weight: bold;
  background-color: #c4aead;
  opacity: 0.75;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}
span {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
