<template>
  <div class="ticket">
      <div class="ticket-info">{{ ticket.id }}</div>
      <div class="ticket-info">{{ ticket.name }}</div>
      <div class="ticket-info">{{ ticket.ticket_type }}</div>
      <div class="ticket-info">{{ ticket.subject }}</div>
      <router-link class="reply-link" :to="{ name: 'ReplyInfo', params: {t_id: ticket.id,  t_name: ticket.name, t_email: ticket.email, t_type: ticket.ticket_type, t_msg: ticket.message} }"><i class='ticket-info fas fa-reply'></i></router-link>
  </div>
</template>

<script>
export default {
  name: "Ticket",
  props: {
    ticket: {
      type: Object,
      required: true
    }
  },
  created() {
    this.$store.state.ticket.t_id = this.ticket.id
  }
};
</script>

<style scoped>
.ticket {
  display: flex;
  flex-direction: row;
  width: 65vw;
  padding: 10px;
  background: #EFEBE9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 18px;
}
.ticket-info {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
