<template>
    <div class="user">
      <div class="user-info">{{ user.id }}</div>
      <div class="user-info">{{ user.name }}</div>
      <div class="user-info">{{ user.email }}</div>
      <div class="user-info">{{ user.address }}</div>
      <div class="user-info">{{ user.role }}</div>
    </div>
</template>

<script>
export default {
  name: "User",
  props: {
    user: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped>
.user {
  display: flex;
  flex-direction: row;
  width: 65vw;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 18px;
  background: #EFEBE9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.user-info {
  width: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
</style>
